* {
  box-sizing: border-box;
}

body {
  padding: 0.5em;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.gallery {
  width: 200px;
  height: 200px;
  margin: 0.3rem;
  display: inline-block;
  transition: all 0.7s ease-in-out;
  position: relative;
}

.gallery:hover {
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery:hover img {
  opacity: 0.2;
  transform: scale(1.1);
}

.gallery:hover h3 {
  display: inline-block;
}

h3 {
  position: absolute;
  display: none;
  top: 33%;
  left: 20%;
}
